@import "../_main/fonts";
@import "./default-config";
@import "../_main/style";

.cl-widget-ms-wrapper .cl-widget-ms-information-close-wrapper {
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-image-container {
  float: left;
  width: 100%;
  text-align: center;
  padding: 0 0 10px 0;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-content-label::before {
  background-image: url(../../images/info-icon.svg);
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-ach .cl-ach-list-progression-bar {
  height: 13px;
}

.cl-widget-canvas-overlay-wrapper{
  display: none;
  float: left;
  width: 100%;
  max-width: 100%;
  min-width: 99%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1002;
  overflow: hidden;
  visibility: visible;
  outline: none;
  border: none;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
}
.cl-widget-canvas-overlay-wrapper .cl-widget-canvas{
  float: left;
  width: 100%;
  max-width: 100%;
  min-width: 99%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  visibility: visible;
  outline: none;
  border: none;
  left: 0;
  top: 0;
}
